doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container-800.container
      #header
        #header_inline
          img(src=site_banner_url)
          #header_subtitle rss for kindle
      block content