body {
  background-color: #798588;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#container-800 {
  background-color: #ffffff;
  width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#container-800 #header {
  padding-top: 10px;
  text-align: center;
}
#container-800 #header #header_inline {
  width: auto;
  height: auto;
  text-align: center;
  display: inline-block;
  float: center;
}
#container-800 #header #header_inline #header_subtitle {
  width: auto;
  height: auto;
  text-align: right;
}
a {
  color: #00B7FF;
}
